<ion-header>
  <ion-navbar color="primary">
    <button *ngIf="!currentFolder.id" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{currentFolder.name}}</ion-title>
    <ion-buttons end>
      <div>
        <label tappable class="navbar-icon">
          <ion-icon color="light" name="cloud-upload"></ion-icon>
          <input type="file" id="File" (change)="changeFile($event)" size="60" >
        </label>
        <ion-icon color="light" tappable name="folder" class="navbar-icon" (click)="createFolder()"></ion-icon>
      </div>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="currentFilesList && currentFilesList.length">
    <ion-item-sliding *ngFor="let file of currentFilesList">
      <ion-item tappable *ngIf="file.children" (click)="openFolder(file)">
        <ion-icon color="gray" name="folder" item-start></ion-icon>
        {{file.name}}
        <ion-icon class="popover" (click)="presentPopover($event, file)" item-end name="more"></ion-icon>
      </ion-item>
      <ion-item tappable *ngIf="!file.children" (click)="openFile(file)">
        <ion-icon color="gray" name="document" item-start></ion-icon>
        {{file.name}}
        <ion-icon class="popover" (click)="presentPopover($event, file)" item-end name="more"></ion-icon>
      </ion-item>
      <ion-item-options *ngIf="!isSharedPage" slide="right">
        <button ion-button color="danger" (click)="deleteFile(file)">
          <ion-icon name="trash"></ion-icon>
          Supprimer
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-item no-lines *ngIf="!currentFilesList || !currentFilesList.length">Dossier vide</ion-item>
</ion-content>
