<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{currentFolder.name}}</ion-title>
    <ion-buttons end>
      <div>
        <label tappable class="navbar-icon">
          <ion-icon name="cloud-upload"></ion-icon>
          <input type="file" id="File" (change)="changeFile($event)" size="60" >
        </label>
        <ion-icon tappable name="folder" class="navbar-icon" (click)="createFolder()"></ion-icon>
      </div>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngFor="let file of currentFilesList">
      <ion-item tappable *ngIf="file.children" (click)="openFolder(file)">
        <ion-icon color="gray" name="folder" item-start></ion-icon>
        {{file.name}}
      </ion-item>
      <ion-item tappable *ngIf="!file.children" (press)="selectFile(file)" (tap)="openFile(file)">
        <ion-icon color="gray" name="document" item-start></ion-icon>
        {{file.name}}
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
